@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

html {
	font-family: 'Open Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.right-separator {
	border-right: 1px solid;
	border-color: rgba(142, 142, 142, 0.48);
}

#page-wrapper {
	margin-top: 50px;
}

#page-header-right {
	margin-top: 20px;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.64);
}

.header-right {
	padding-right: 10px;
}

.header-right-content {
	text-align: center;
}

.header-right-size {
	display: inline-block;
	text-align: center;
}

.header-right-count {
	display: inline-block;
	font-size: 11px;
}

.header-right-count-value {
	font-size: 20px;
	font-weight: 600;
	margin-left: 2px;
}

.header-right-size-label {
	display: block;
	font-size: 11px;
}

.header-right-size-value {
	display: block;
	font-weight: 400;
	font-size: 13px;
}

.header-collection-label {
	color: #777676;
}

.CodeMirror {
	position: relative;
	overflow: hidden;
	background: white;
}

.CodeMirror {
	font-family: monospace;
	height: auto;
	color: black;
}

.CodeMirror-scroll {
	max-height: 200px;
}

.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
	background-color: rgba(40, 42, 54, 0.61) !important;
	color: #f8f8f2 !important;
	border: none;
}

.table-responsive {
	overflow-x: hidden;
}

#timer-left {
	left: 115px;
	position: relative;
}

#timer-span {
	left: 27px;
	position: relative;
	top: 2px;
	font-size: 11px;
}

#panel-head {
	position: relative;
	right: 19px;
}

#table-response-id {
	display: none;
}

a {
	color: #777676;
}