.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

.custom-body {
	background: url('../img/bosch/bg_header_light.png?1439199367') no-repeat;
	background-size: 100% 0px;
	margin: 0;
	height: 100%;
	padding: 0px !important
}

/*.rb-content{*/
/*display:flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*}*/
.flex-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.flex-container>* {
	margin: 0 10px;
}

.flex-container>*:first-child {
	margin-left: 0px;
}

.flex-container>*:last-child {
	margin-right: 0px;
}

.flex-column {
	min-width: 380px;
	display: flex;
	flex-direction: column;
}

.flex-column>* {
	margin-bottom: 20px;
}

.flex-row {
	max-height: 150px;
}

.float-right {
	float: right;
}

.btn {
	margin: 5px;
}

.rb-header-custom {
    height: 116px;
    width: 100%;
}
 